<!DOCTYPE html>
<html>
<head>
	<title>PV Scraper</title>
</head>
<body>
	<h3>Please enter the url you need scraped</h3>

	<form method="GET" action="/scrape">
		<input type="text" name="url">

		<input type="submit" value="submit">
	</form>
</body>
</html>